.find-image{
   
    width:100%;
}
.filter-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.filter-select{
    width: Hug (148px)px;
    height: Fixed (40px)px;
    top: 333px;
    left: 234px;
    padding: 6px ;
    gap: 41px;
    border-radius: 7px ;
    opacity: 0px;
    color: #585858;
    margin:5px;

}
.line-three{
    width:100%;
    border:1px solid grey;
}
.selected-filters{
    display: flex;
    flex-direction: row;
    align-self: right;
    justify-content: flex-end;

}
.select-filter{
    background-color: rgb(191, 239, 191);
    margin:5px;
    border-radius: 10px;
    padding:10px;
}
.clear-filter{
    cursor:pointer;
    margin:3px;
}
.doctor-book-section{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    padding:20px;
}
.doctor-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:center ;
    align-items: center;
    padding:20px;
    border-radius: 30px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    box-shadow: 0px 4px 12.5px 0px #00000012;
    background: #FFF7E2;
    margin:10px;

}
.doctor-card-image{
    height:150px;
    object-fit: contain;
}
.doctor-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:-10px;
}
.book-type{
    display: flex;
    flex-direction: row;
}
.book-type-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px ;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FFF7E2;
    border: 1px solid #3A643B63;
    padding:10px;
    height:50px;
    margin:5px;
    height:auto;

}
.price{
    margin-top:-15px;
}
.view-btn{
    width:100%;
    background-color: white;
    border:1px solid rgb(191, 239, 191) ;
    border-radius: 5px;
    padding: 5px;
    color:rgb(191, 239, 191) ;
    margin:5px;
}
.book-consul-btn{
    width:100%;
    background-color: #3A643B;
    border-radius: 5px;
    padding: 5px;
    color:rgb(191, 239, 191) ;
    border-width:0px;
    margin:5px;
}
.doctor-name{
    text-align: center;
}